// Common conditions for each Debug configuration (not to be confused with the App Config)

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG $(BUILD_COMPILATION_CONDITIONS)
APP_TRANSPORT_SECURITY_ALLOWS_ARBITRARY_LOADS_KEY = NSAllowsArbitraryLoads

ONLY_ACTIVE_ARCH = YES
VALIDATE_PRODUCT = NO
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = singlefile
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) "DEBUG=1"
ENABLE_NS_ASSERTIONS = YES

// Fix for M1 processors
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
